<!-- Подключение базового шаблона -->
{% extends 'base.html' %}
<!-- Для подключение деректории static -->
{% load static %}
<!-- Meta данные -->
{% block meta %}
        <title>Технические работы!</title>
        <meta name="description" content="">
{#    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">#}
{% endblock meta %}
{% block seo %}
{% endblock seo %}
<!-- Подключение стилей -->
{% block style %}
{#    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">#}
{% endblock style %}

{% block body_name %}
    <body>
{% endblock body_name %}
{% block navbar %}
{#n#}
{% endblock navbar %}

{#{% block main_pc %}#}
{#    class="li-active"#}
{#{% endblock main_pc %}#}
{##}
{#{% block main %}#}
{#    class="li-active"#}
{#{% endblock main %}#}

{% block div_grid %}
    {#    <div class="grid-albums-detail">#}
{% endblock div_grid %}


{% block header %}
    <header class="header-index">
{#        <h2>#}
{#            <span class="neon_text" data-text="Д">НА</span><span class="neon_text" data-text="О">О</span><span#}
{#                class="neon_text" data-text="Б">Б</span><span class="neon_text" data-text="Р">Р</span><span#}
{#                class="neon_text" data-text="О">О</span><span> </span>#}
{#            <span class="neon_text" data-text="П">П</span><span class="neon_text" data-text="О">О</span><span#}
{#                class="neon_text" data-text="Ж">Ж</span><span class="neon_text" data-text="А">А</span><span#}
{#                class="neon_text" data-text="Л">Л</span><span class="neon_text" data-text="О">О</span><span#}
{#                class="neon_text" data-text="В">В</span><span class="neon_text" data-text="А">А</span><span#}
{#                class="neon_text" data-text="Т">Т</span><span class="neon_text" data-text="Ь">Ь</span>#}
{#            <span> </span><span class="neon_text" data-text="В">В</span><span></span>#}
{#            <span class="neon_text" data-text="М">М</span><span class="neon_text" data-text="О">О</span><span#}
{#                class="neon_text" data-text="Й">Й</span><span> </span>#}
{#            <span class="neon_text" data-text="Й">М</span><span class="neon_text" data-text="И">И</span><span#}
{#                class="neon_text" data-text="Р">Р</span><span class="neon_text" data-text="!">!</span>#}
{#        </h2>#}
        <h2>На сайте ведутся технические работы. Приноcим извинения за неудобства</h2>
        <h1>
            <span>S</span><span>H</span><span>A</span><span>U</span><span>R</span><span>-</span><span>P</span><span>H</span><span>O</span><span>T</span><span>O</span>
        </h1>
        <div class="neon-button">
            <a class="header-inst" target="_blank" href="https://www.instagram.com/sviatlana_haurylavets">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Instagram
            </a>
{#            <div class="scrolldown">#}
{#                <span></span>#}
{#                <span></span>#}
{#                <span></span>#}
{#            </div>#}
            <div></div>
            <a class="header-vk pc" target="_blank" href="https://vk.com/club134565385">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Вконтакте
            </a>
            <a class="header-vk a-tel"  href="vk://vk.com/club134565385">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Вконтакте
            </a>
        </div>


    </header>
{% endblock header %}

{% block content %}

{% endblock content %}

{% block end_div %}
    {#    </div>#}
{% endblock end_div %}

{% block footer %}
{#    f#}
{% endblock footer %}

{% block fix %}

{% endblock fix %}

{% block scripts %}

{% endblock scripts %}
