<!-- Подключение базового шаблона -->
{% extends 'base.html' %}
<!-- Для подключение деректории static -->

{% load i18n %}
{% load account socialaccount %}
{% load static %}
<!-- Meta данные -->
{% block meta %}
    <title>Ваш заказ принят!</title>
    <meta name="description" content="Ваш заказ принят!">
{% endblock meta %}
{% block seo %}
{% endblock seo %}
<!-- Подключение стилей -->
{% block style %}

{% endblock style %}

{% block reviews_pc %}
    li-active
{% endblock reviews_pc %}

{% block reviews %}
    li-active
{% endblock reviews %}



{% block header %}

    <div class="rev-add-container">
        <div class="rev_login_hello">
            <p>Ваш заказ принят, спасибо! Я перезвоню Вам в ближайшее время.</p>

        </div>
        <div class="add_nav">
            <a href="{% url 'albums_list' %}">К альбомам</a>
            <a href="{% url 'main' %}">На главную</a>
        </div>
    </div>



{% endblock header %}


{% block fix %}
    <div class="social-fixed-a-l">
        <div class="social-fixed">
            <a href="https://www.instagram.com/sviatlana_haurylavets" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://vk.com/club134565385" target="_blank"><i class="fab fa-vk"></i></a>
            <!--    <a href="tel:+375291234567"><i class="fas fa-phone-alt"></i></a>-->
        </div>
    </div>
    <div class="reviews-s-f-a-l">
        <div class="social-fixed-rev">
            <a href="{% url 'offer_ph' %}" class="offer-ph-fix">Заказать фотосъёмку</a>
            <a href="https://vk.com/topic-134565385_35253217" target="_blank" class="offer-ph-fix">Отзывы в группе ВК</a>
        </div>
    </div>
{% endblock fix %}

{% block scripts %}

{% endblock scripts %}
